* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-container {
  text-align: center;
  margin: 100px auto;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
}

.css-i4bv87-MuiSvgIcon-root:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  height: 60px;
 
}
